@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@500&display=swap');

*{
    font-family: 'Space Grotesk', sans-serif;
}

body{
    /* background-color: white; */
    width: 1440px;
    height: 900px;
}

#background-left{
    width: 483px;
    height: 900px;
    position: absolute;
    background-color: linear-gradient(hsl(249, 99%, 64%), hsl(278, 94%, 30%));
    background-color: hsl(278, 68%, 11%);
}

#card-front-img, #card-back-img{
    width: 447px;
    height: 245px;
    position: absolute;
}

#card-info{
    position: absolute;
    color: white;
}

#card-number{
    width: 372px;
    height: 36px;
    margin-left: 194px;
    margin-top: 324px;
    font-size: 30px;
}

#card-name{
    margin-left: 194px;
    margin-top: 30px;
}

#ex-date{
    /* margin-top:30px; */
    margin-left: 529px;
    margin-top: -20px;
}

#cvc-num{
    position: absolute;
    color: white;
    margin-top: 575px;
    margin-left: 600px;
}

#card-front-img{
    margin-top: 185.5px;
    margin-left: 161.5px;
}

#card-back-img{
    margin-left: 255px;
    margin-top: 465.5px;
}


#background-right{
    background-color: white;
    display: flex;
    flex-direction: column;
    margin-left: 827.5px;
    padding-top: 267px;
    /* margin-top: 300px; */
    width: 381px;
    height: 352px;
}

#background-right #name{
    width: 381px;
    height: 45px;
    font-size: 15px;
    margin-bottom: 10px;
    border-radius: 7px;
    border-color: hsla(270, 3%, 87%, 0.5);
}

#background-right #label-name{
    width: 140px;
    height: 15px;
    font-size: 13px;
    font-weight: 700;
}

#background-right #number{
    width: 381px;
    height: 45px;
    margin-bottom: 10px;
    border-radius: 7px;
    border-color: hsla(270, 3%, 87%, 0.5);
}

#background-right #number-label{
    width: 103px;
    height: 15px;
    font-size: 14.5px;
}

#label-cvv{
    display: flex;
    flex-direction: row;
}

#label-cvv #ex-label{
    width: 140px;
    height: 15px;
    font-size: 14.5px;
    margin-right: 55px;
}

#input-cvv{
    display: flex;
    flex-direction: row;
    margin-bottom: 20px;
}

#label-cvv #ccv-label{
    width: 27px;
    height: 15px;
    font-size: 14.5px;
}

#input-cvv #ex-month{
    width: 80px;
    height: 45px;
    margin-right: 10px;
    border-radius: 7px;
    border-color: hsla(270, 3%, 87%, 0.5);
}

#input-cvv #ex-year{
    width: 80px;
    height: 45px;
    margin-right: 10px;
    border-radius: 7px;
    border-color: hsla(270, 3%, 87%, 0.5);
}

#input-cvv #ccv{
    width: 191px;
    height: 45px;
    border-radius: 7px;
    border-color: hsla(270, 3%, 87%, 0.5);
}

button{
    width: 381px;
    height: 53px;
    background-color: hsl(278, 68%, 11%);
    color: white;
    border-radius: 10px;
    border: none;
}

#button-label{
    width: 68px;
    height: 23px;
    font-size: 18px;
    padding-left: 150px;
}